[submodule "stesi/alex_sync"]
	path = stesi/alex_sync
	url = git@github.com:stesi/alex_sync.git
	branch = 14.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 14.0

[submodule "stesi/l10n-italy"]
	path = stesi/l10n-italy
	url = git@github.com:stesi/l10n-italy.git
	branch = 14.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 14.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 14.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 14.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 14.0

[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 14.0

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 14.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 14.0

[submodule "stesi/stesi_sales"]
	path = stesi/stesi_sales
	url = git@github.com:stesi/stesi_sales.git
	branch = 14.0

[submodule "stesi/stesi_purchase"]
	path = stesi/stesi_purchase
	url = git@github.com:stesi/stesi_purchase.git
	branch = 14.0

[submodule "stesi/odoo_whatsapp_integration"]
	path = stesi/odoo_whatsapp_integration
	url = git@github.com:stesi/odoo_whatsapp_integration.git
	branch = 14.0

[submodule "stesi/stesi_accounting"]
	path = stesi/stesi_accounting
	url = git@github.com:stesi/stesi_accounting.git
	branch = 14.0

[submodule "ingegniamo/purchase_vendor_pricelist"]
	path = ingegniamo/purchase_vendor_pricelist
	url = git@github.com:ingegniamo/purchase_vendor_pricelist.git
	branch = 14.0

[submodule "ingegniamo/sale_order_line_taxinc"]
	path = ingegniamo/sale_order_line_taxinc
	url = git@github.com:ingegniamo/sale_order_line_taxinc.git
	branch = 14.0

[submodule "stesi/alex_custom"]
	path = stesi/alex_custom
	url = git@github.com:stesi/alex_custom.git
	branch = 14.0

[submodule "ingegniamo/account_move_line_taxinc"]
	path = ingegniamo/account_move_line_taxinc
	url = git@github.com:ingegniamo/account_move_line_taxinc.git
	branch = 14.0

[submodule "ingegniamo/partner_address_search"]
	path = ingegniamo/partner_address_search
	url = git@github.com:ingegniamo/partner_address_search.git
	branch = 14.0

[submodule "ingegniamo/partner_efatt_info"]
	path = ingegniamo/partner_efatt_info
	url = git@github.com:ingegniamo/partner_efatt_info.git
	branch = 14.0

[submodule "OCA/rma"]
	path = OCA/rma
	url = git@github.com:OCA/rma.git
	branch = 14.0

[submodule "ingegniamo/purchase_forecast_product_qty"]
	path = ingegniamo/purchase_forecast_product_qty
	url = git@github.com:ingegniamo/purchase_forecast_product_qty.git
	branch = 14.0

[submodule "ingegniamo/custom_css"]
	path = ingegniamo/custom_css
	url = git@github.com:ingegniamo/custom_css.git
	branch = 14.0

[submodule "OCA/commission"]
	path = OCA/commission
	url = git@github.com:OCA/commission.git
	branch = 14.0

[submodule "OCA/account-invoicing"]
	path = OCA/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 14.0

[submodule "OCA/brand"]
	path = OCA/brand
	url = git@github.com:OCA/brand.git
	branch = 14.0

[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 14.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 14.0

[submodule "ingegniamo/stock_show_product_qty_info"]
	path = ingegniamo/stock_show_product_qty_info
	url = git@github.com:ingegniamo/stock_show_product_qty_info.git
	branch = 14.0

[submodule "ingegniamo/multi_company_inter_company_rule_lot"]
	path = ingegniamo/multi_company_inter_company_rule_lot
	url = git@github.com:ingegniamo/multi_company_inter_company_rule_lot.git
	branch = 14.0
